<!DOCTYPE html>
<html lang="en">
<body>
<div >
    <div class="logo"><img src="../../assets/Images/Preview (4).svg"></div>
    <h1 class="slogan">Track Your Packages with Ease</h1>
    <table>
        <form method="post" action="/register">
            <tr>
                <td colspan="2">
                    <h1 class="registration">Registration</h1>
                </td>
            </tr>
            <tr>
                <td><label for="name">Name:</label> </td>
                <td><input type="text" placeholder="Enter name" id="name" name="name" required></td>
            </tr>
            
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" placeholder="Enter your email" id="email" name="email" required></td>
            </tr>
            <tr>
                <td><label for="phone">Phone:</label></td>
                <td><input type="text" placeholder="Enter your Phone number" id="phone" name="phone" required></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" placeholder="Enter your password" id="password" name="password" required></td>
            </tr>
           
            <tr>
                <td colspan="2">
                    <div class="buttons">
                        <span class="submit"> <button type="submit">Register</button></span>
                        <span class="reset"><button type="reset">Reset</button></span>
                    </div>
                </td>
            </tr>

        </form>
    </table>
    <p class="footer">Already have an account?  <a [routerLink]="['/login']">Log in here</a></p>
    </div>
    
</body>
</html> 
